@using Licenta.ViewModels.Customer
@model AddressViewModel
<style>
    .fa-edit
    {
        color:white;
    }
    .fa-trash
    {
        color:white;
    }
</style>
<table id="addressTable" class="table table-borderless table-bordered" style="width:100%">
    <thead class="dropdown text-center">
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
            <th>Street Number</th>
            <th>Postal Code</th>
            <th>Tag</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var address in Model.Addresses)
        {
            <tr>
                <td>@address.City</td>
                <td>@address.Country</td>
                <td>@address.Street</td>
                <td>@address.StreetNumber</td>
                <td>@address.PostalCode</td>
                <td>Placeholder for tag(Home, work, etc)</td>

                <td class="d-flex justify-content-around">

                    <button class="btn btn-outline-dark "  title="Edit" data-toggle="modal"
                            data-target="#editLocationModal" onclick="LoadEditLocationView('@address.Id')">

                        <i class="material-icons fa fa-edit"></i>
                    </button>

                    <button class="btn btn-outline-danger " title="Remove" data-toggle="modal"
                            onclick="LoadRemoveAddressView('@address.Id');" data-target="#removeModal">

                        <i class="material-icons fa fa-trash"></i>
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
