@using Licenta.ViewModels.Orders
@model Licenta.ViewModels.Customers.OrderViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<head>
    <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css">
    <link rel="stylesheet" href="~/css/maicons.css">

    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/css/theme.css">

    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">

</head>
<style>
    .pull-left {
        float: left !important;
    }

    .pull-right {
        float: right !important;
    }
</style>
<div class="d-flex justify-content-between mt-3 mb-3 mr-auto">
    <h1>Orders</h1>
    @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Dispatcher"))
    {
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" onclick="LoadNewOrderView()" data-toggle="modal" data-target="#exampleModal">
            New Order <i class="fa fa-box"></i>
        </button>
    }
</div>
<form method="post" asp-controller="Orders" asp-action="NewOrder"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#exampleModal')"
      data-ajax-mode="replace"
      data-ajax-update="#newOrderBody">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="newOrderBody">
                    <partial name="_NewOrderPartial" model="new NewOrderViewModel()" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="ordersTableContainer"/>
        @section Scripts {

            <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
            <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    loadTable();
                });

        function LoadEditOrderView(Id) {
            loadServerPartialView("#editOrderBody", '@Url.Action("Update", "Orders")' + "/" + Id);
        }

        function loadTable() {
            loadServerPartialView("#ordersTableContainer", "/Orders/OrdersTable").done(function () {
                $('#ordersTable').DataTable({ "dom": '<"pull-right"f><"pull-left"l>tip',responsive: true, "lengthMenu": [5, 10, 25, 50] });
            });
        }

        function LoadDropdown(customerControl, locationControl, locationType) {

            $('#newOrderDialog').removeClass("modal-custom-lg").addClass("modal-custom");
            var customerId = $(customerControl).val();
            var locationId = $(locationControl).val();

            loadServerPartialView("#newOrderBody", '@Url.Action("NewOrder", "Orders")' + "/"
                + customerId + ';' + locationId + ';' + locationType);
        }

            function LoadNewOrderView() {
            $('#newOrderDialog').removeClass("modal-custom-lg").addClass("modal-custom");
            loadServerPartialView("#newOrderBody", '@Url.Action("NewOrder", "Orders")');
        }

        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadTable();
        }

        function goToRoutes() {
            document.location = '@Url.Action("Index", "Routes")';
        }

         function LoadRemoveOrderView(Id) {
             loadServerPartialView("#removeOrderBody",'@Url.Action("Remove", "Orders")' + "/" + Id);
        }

            </script>
        }
