@using Licenta.ViewModels.Orders
@model OrderViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css">
    <link rel="stylesheet" href="~/css/maicons.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/css/theme.css">

    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">

</head>

<div class=" d-flex justify-content-between mt-3 mb-3 mr-auto">
    <h1>Orders</h1>
    @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Dispatcher"))
    {
        <button class="btn-primary" onclick="LoadNewOrderView()" data-toggle="modal" data-target="#newOrderModal">New Order <i class="fa fa-box"></i></button>
    }
</div>

<div id="ordersTableContainer"/>


    <style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    }
    </style>




    @*<div id="viewDiv"></div>*@

    @*<div id="map"></div>*@



    <style>
        div.middle-div {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
            transform: translateY(50%);
        }
    </style>

    <form method="post" asp-controller="Orders" asp-action="NewOrder"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-complete="modalFormComplete('#newOrderModal')"
          data-ajax-mode="replace"
          data-ajax-update="#newOrderBody">

        <div class="modal fade" id="newOrderModal" tabindex="-1" aria-labelledby="newOrderTitle" aria-hidden="true">
            <div id="newOrderDialog" class="modal-dialog d-flex modal-custom justify-content-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newOrderTitle">New Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="newOrderBody">
                        <partial name="_NewOrderPartial" model="new NewOrderViewModel()" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    @section Scripts {

        <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
        <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>


        <script type="text/javascript">
        $(document).ready(function () {
            loadTable();
        });


        function LoadEditOrderView(Id) {
            loadServerPartialView("#editOrderBody", '@Url.Action("Update", "Orders")' + "/" + Id);
        }

        function loadTable() {
            loadServerPartialView("#ordersTableContainer", "/Orders/OrdersTable").done(function () {
                $('#ordersTable').DataTable({ responsive: true, "lengthMenu": [5, 10, 25, 50] });
            });
        }

        function LoadDropdown(customerControl, locationControl, bonusLocationControl, locationType) {

            $('#newOrderDialog').removeClass("modal-custom-lg").addClass("modal-custom");
            var customerId = $(customerControl).val();
            var locationId = $(locationControl).val();
            var bonusLocationId = $(bonusLocationControl).val();

            loadServerPartialView("#newOrderBody", '@Url.Action("NewOrder", "Orders")' + "/"
                + customerId + ';' + locationId + ';' + bonusLocationId + ';' + locationType);
        }

        function LoadNewOrderView(id) {
            $('#newOrderDialog').removeClass("modal-custom-lg").addClass("modal-custom");
            loadServerPartialView("#newOrderBody", '@Url.Action("NewOrder", "Orders")');
        }

        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadTable();
        }

        function goToRoutes() {
            document.location = '@Url.Action("Index", "Routes")';
        }

         function LoadRemoveOrderView(Id) {
             loadServerPartialView("#removeOrderBody",'@Url.Action("Remove", "Orders")' + "/" + Id);
        }

        function addBonusPickupLocation() {

            $('#bonusLocation').toggle();

            if ($('#pickupSelector select').val() == null) {
                $('#pickupSelector select').children()[0].selected = true;
            } else {
                $('#pickupSelector select').val(null);
            }

            $('#addDeliveryButton').toggleDisabled();
            $('#newOrderDialog').toggleClass("modal-custom").toggleClass("modal-custom-lg");
            $('#addPickupButton').toggleClass("btn btn-add-blue ml-4").toggleClass("btn btn-outline-danger ml-4");
            $('#addPickupButton span').toggleClass("fa fa-plus").toggleClass("fa fa-minus");
        }

        function addBonusDeliveryLocation() {

            $('#bonusLocation').toggle();

            if ($('#deliverySelector select').val() == null) {
                $('#deliverySelector select').children()[0].selected = true;
            } else {
                $('#deliverySelector select').val(null);
            }

            $('#addPickupButton').toggleDisabled();
            $('#newOrderDialog').toggleClass("modal-custom").toggleClass("modal-custom-OrdToStringersDeliveryCityAddresslElementAtgOrdersrders");
            $('#addDeliveryButton').toggleClass("btn btn-add-blue ml-4").toggleClass("btn btn-outline-danger ml-4");
            $('#addDeliveryButton span').toggleClass("fa fa-plus").toggleClass("fa fa-minus");
        }
        </script>
    }
