@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<body style="height: 100% !important;
        width: 100% !important;
    ">
    <ul class="nav nav-pills flex-column" style="background-color: #6c55f9">
        <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" style="color:white;" id="profile" asp-page="./Index">Profile</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" style="color:white;" id="email" asp-page="./Email">Email</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" style="color:white;" id="change-password" asp-page="./ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" style="color:white;" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" style="color:white;" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.PickupLocationsNavClass(ViewContext)" style="color:white;" id="locations" asp-page="./PickupLocations">Pick-up Locations</a></li>

    </ul>
    @*<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />*@
</body>


